<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../css/detailed.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/navbar.css" />

    <title>More Details</title>
    <style>
        .shop-section {
            padding: 60px 0;
            background-color: #EAECEE;
        }
        
        .shop-section h2 {
            text-align: center;
            margin-bottom: 40px;
            font-size: 2.5rem;
            color: #333;
        }
        
        .shop-products-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .img-box img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .thumb-wrapper {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-left: 20px;
        }
        
        .thumb-wrapper h2 {
            font-size: 2rem;
            margin-bottom: 20px;
            color: #009970;
        }
        
        .thumb-wrapper p {
            font-size: 1rem;
            line-height: 1.6;
            color: #555;
            text-align: start;
        }

        @media (max-width: 768px) {
            .thumb-wrapper {
                margin-top: 20px;
                margin-left: 0;
            }
            
            .shop-products-container {
                flex-direction: column;
            }
        }
    </style>
</head>
<body>

<%- include("includes/navbar.ejs") %>

<section class="shop-section">
    <h2>More Detailed Information</h2>
    <div class="shop-products-container">
        <div class="row">
            <div class="">
                <div class="img-box">
                    <div class="thumb-wrapper">
                        <img src="<%=news.productImg%>" class="img-responsive" alt="Product Image" />
                        <div class="message-section">
                            <h2><%=news.name%></h2>
                            <p><%=news.description%></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("includes/footer.ejs") %>

</body>
</html>
