<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <title>Bus Info Central</title>
</head>
<body>

    <%- include("includes/navbar.ejs") %>

    <header class="hero-section">
        <div class="hero-text-container">
            <h3>All information about Public Transport </h3>
            <p>Discover comprehensive bus information with BusInfo. Whether you're commuting to work or exploring a new city, we provide accurate and reliable transit details to make your journey seamless.</p>
        </div>
        <div class="hero-img-container">
            <img src="img/index.png" alt="Bus Information" />
        </div>
    </header>

    <section class="featured-product-section" id="featured-products">
        <h2>News</h2>
        <div class="featured-container">
            <div class="row">
                <% if(Array.isArray(mydata)){ %>
                    <% for(let a = mydata.length - 1; a >= mydata.length - 3; a--){ %>
                        <div class="col-sm-4">
                            <div class="filter <%=mydata[a].gender%>">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="<%=mydata[a].productImg%>" class="img-responsive" alt="" />
                                    </div>
                                    <div class="thumb-content">
                                        <h4><%=mydata[a].name%></h4>
                                        <a href="/news"><button class="button">More news</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                <label for="data" class="form-label"> <%=mydata%></label>
                <% } %>
            </div>
        </div>
    </section>

    <%- include("includes/footer.ejs") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
